#parse("top.vm")
    <div class="mainbox">
    <h3>$content.title</h3>
    <code>$content.author</code>
    <div>
    $content.url
    </div>
    <code>$content.addtime $content.hits</code>
    </div>
#parse("foot.vm")